canvas {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

body {
    border: 0;
    margin: 0;
}

label {
    display: block;
}

.container {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#settings-panel div input {
    flex-grow: 1;
}

#settings-panel > div {
    margin: 5%;
}

#webgl-initerr {
    display: none;
}

#position-info-container {
    position: absolute;
    margin-top: 0.5em;
    width: 100vw;
    z-index: 2;
    pointer-events: none;
}

#fps-info {
    position: absolute;
    margin-bottom: 0.5em;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 16px;
    color: white;
    z-index: 2;
}

.position-text {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 16px;
    color: white;
}

#settings-panel {
    display: none;
    position: absolute;
    width: 15vw;
    height: 100vh;
    z-index: 3;
    background-color: white;
    opacity: 0.7;
    font-size: small;
}

#scene-panel {
    display: none;
    position: absolute;
    width: 25vw;
    height: 100vh;
    left: 75vw;
    z-index: 3;
    background-color: white;
    opacity: 0.7;
    overflow: auto;
}

#button-settings {
    display: block;
    position: absolute;
    margin: 2%;
    z-index: 2;
}

#button-scene {
    display: block;
    position: absolute;
    right: 0vw;
    margin: 2%;
    z-index: 2;
}

#scene-panel > div {
    margin: 5%;
}

#anchor-download-scene {
    display: none;
}

#input-load-scene {
    display: none;
    margin: 5%;
}

#add-cube {
    display: flex;
}

#add-cube-name {
    flex: 2;
    margin-right: 0.5em;
}

#cubelist {
    height: 15%;
    overflow: auto;
    border: 1px solid black;
}

.cubelist-item {
    padding: 0.2em;
    cursor: pointer;
}

.cubelist-item:hover {
    background-color: lightgrey;
}

.cubelist-item-selected {
    background-color: grey;
}

.container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.container > span {
    padding-right: 0.5em;
}

#cube-name {
    flex-grow: 1;
}

.dropdown {
    position: relative;
    flex-grow: 1;
}

.dropdown > button {
    display: block;
    min-width: 100%;
    min-height: 1.5em;
}

.dropdown-menu {
    position: absolute;
    display: none;
    flex-flow: column;
    width: 100%;
    z-index: 1;
}

.dropdown-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    float: left;
    padding: 0.1em;
    cursor: pointer;
    background-color: lightgrey;
    width: 100%;
}

.dropdown-menu li:hover {
    background-color: grey;
}

.dropdown-menu-show {
    display: flex;
}

#cube-texture-image {
    width: 100%;
    height: auto;
}

.cube-texture-image-hide {
    display: none;
}

.motion-settings, .motion-settings-vector-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.motion-settings > div, .motion-settings-vector-container > div {
    margin-bottom: 0.2em;
}

.motion-settings-vector-name {
    text-align: center;
}

.motion-setting-value-name {
    margin-right: 0.2em;
}

.motion-setting-value {
    width: 5em;
}

#cube-miscellaneous-settings {
    margin-top: 16px;
    margin-bottom: 16px;
}
